<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Sign Up Page</title>
    </head>
    <body>
        <form th:action="@{/auth/signup}" method="post" class="form" th:object="${signUpRequest}">
            <div style="margin-bottom:12px;">
                <label>First Name: </label>   
                <input type="text" name="firstname" required th:field="*{firstName}">
            </div>
            <div style="margin-bottom:12px;">
                <label>Last Name: </label>   
                <input type="text" name="lastname" required th:field="*{lastName}">
            </div>
            <div style="margin-bottom:12px;">
                <label>Username: </label>   
                <input type="email" name="username" required th:field="*{email}">
            </div>
            <div style="margin-bottom:12px;">
                <label>Password: </label>
                <input type="password" name="password" required th:field="*{password}">
            </div>
            <input type="submit" value="Sign Up">
        </form>
    </body>
</html>