<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Search for a Course</h2>

    <form th:action="@{/courses/search}" method="get">
        <input type="text" name="courseNum" placeholder="e.g. IT4045C"
               th:value="${searchQuery}" />
        <button type="submit">Search</button>
    </form>

    <p th:if="${message}" th:text="${message}" style="color:gray;"></p>

    <hr>

    <div class="course-list">
        <h3>Course Results</h3>
        <ul>
            <li th:each="course : ${courses}">
                <a th:href="@{'/courses/' + ${course.courseId}}"
                   th:text="${course.courseNumber} + ' - ' + ${course.courseName}"></a>
            </li>
        </ul>
    </div>

    <div class="course-details">
        <div th:if="${course != null}">
            <h3 th:text="${course.courseNumber} + ' - ' + ${course.courseName}"></h3>
            <p th:text="'Rating: ' + ${course.courseRating}"></p>
            <form th:action="@{'/courses/' + ${course.courseId} + '/addrating'}" method="POST">
                <fieldset>
                    <input name="rating" type="radio" id="1star" value="1"/>
                    <input name="rating" type="radio" id="2star" value="2"/>
                    <input name="rating" type="radio" id="3star" value="3"/>
                    <input name="rating" type="radio" id="4star" value="4"/>
                    <input name="rating" type="radio" id="5star" value="5"/>
                </fieldset>
                <button type="submit">Submit Rating</button>
            </form>
            <p th:text="${course.description}"></p>
            <h4>Course Comments</h4>
            <form th:action="'/courses/' + ${course.courseId} + '/addcomment'" method="post">
                <textarea id="commentInput" name="commentInput" placeholder="Enter your comment"></textarea>
                <button type="submit">Post Comment</button>
            </form>
            <ul>
                <li th:each="comment : ${course.userComments}">
                    <p th:text="${comment.comment}"></p>
                </li>
            </ul>

        </div>
    </div>

</body>
</html>