<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Profile Page</title>
        <link rel="stylesheet" th:href="@{/css/profile.css}">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     </head>
     <body>
     <nav>
         <ul style="list-style: none; display: flex; gap: 20px; padding: 10px; background-color: #f0f0f0;">
             <li><a th:href="@{/courses/list}" style="text-decoration: none;">Courses</a></li>
             <li><a th:href="@{/users/profile}" style="text-decoration: none;">Profile</a></li>

         </ul>
     </nav>
     <div class="left-panel">

     <h1 th:text="${isAdmin ? 'Admin Profile' : 'Profile'}"></h1>

         <form th:action="@{/auth/logout}" method="get">
             <button type="submit">Log Out</button>
         </form>

         <p>Name: <div th:text="${userInfo.firstname + ' ' + userInfo.lastname}"></div></p>
         <p>Email: <div th:text="${userInfo.email}"></div></p>
         <div>
             <h2>Your Comments</h2>
             <p th:if="${comments.size() == 0}">You have no comments.</p>
             <div th:each="comment : ${comments}">
                 <form th:action="@{'/comments/' + ${comment.userCommentId}}" method="post">
                     <input type="hidden" name="_method" value="delete"/>
                     <button type="submit"><i class="glyphicon glyphicon-trash"></i></button>
                 </form>
                 <p th:text="${comment.comment}"></p>
             </div>
         </div>


         <div th:if="${isAdmin}">
             <h2>Add a New Course</h2>
             <!-- form to create a course -->
            <form th:action="@{/courses}"
                method="post"
                th:object="${course}">

            <!-- Course Number Field -->
                <div class="form-group">
                    <label for="num">
                        Course Number <span class="required">*</span>
                    </label>
                    <!-- Thymeleaf field binding with th:field -->
                    <input type="text"
                    id="num"
                    th:field="*{courseNumber}"
                    required
                    placeholder="Enter course number">
                </div>

            <!-- Name Field -->
            <div class="form-group">
                <label for="name">
                    Name <span class="required">*</span>
                </label>
                <!-- Thymeleaf field binding with th:field -->
                <input type="text"
                    id="name"
                    th:field="*{courseName}"
                    required
                    placeholder="Enter full name">
            </div>

            <!-- Email Field -->
            <div class="form-group">
                <label for="university">
                    University <span class="required">*</span>
                </label>
                <input type="text"
                    id="university"
                    th:field="*{university}"
                    required
                    placeholder="UC">
            </div>

            <!-- Email Field -->
            <div class="form-group">
                <label for="description">
                    Description <span class="required">*</span>
                </label>
                <input type="text"
                id="description"
                th:field="*{description}"
                required
                placeholder="course description">
            </div>


            <!-- Buttons -->
            <div class="button-group">
                <button type="submit">
                    Create Course
                </button>
                <p th:text="${createError}"></p>
            </div>
        </form>
    </div>
     </div>

     <div class="right-panel" th:if="${isAdmin}">
     <h2>Users Registered</h2>
        <div th:each="user : ${allUsers}">
            <p th:text="${user.getEmail()}"></p>
        </div>

        <h2>Courses</h2>
        <div th:each="course : ${allCourses}">
            <form th:action="@{'/courses/delete/' + ${course.courseId}}" method="post">
                <button type="submit"><i class="glyphicon glyphicon-trash"></i></button>
            </form>
            <p th:text="${course.courseNumber}"></p>
        </div>
    </div>
    </body>
</html>