<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Login Page</title>
    </head>
    <div th:if="${AlreadyExists}">
        <script>
            alert("This email already exists within the system!")
        </script>
    </div>
    <div th:if="${ErrorOccurred}">
        <script>
            alert("An Error Has Occurred with the sign in process.")
        </script>
    </div>
    <body>
        <form th:action="@{/}" method="post" class="form">
            <div style="margin-bottom:12px;">
                <label>Username: </label>   
                <input type="text" name="username">
            </div>
            <div style="margin-bottom:12px;">
                <label>Password: </label>
                <input type="password" name="password">
            </div>
            <input type="submit" value="Login">
        </form>
        <form th:action="@{/signup}" method="get" class="form">
            <input type="submit" value="Sign Up">
        </form>
    </body>
</html>